.App {
  padding: 50px 50px 50px 50px;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sparkline {
  display: flex;
  gap: 300px;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.input {
  display: flex;
  gap: 4px;
}

.invalid-text {
  color: red;
}
